

<h1 class="hero-text orange-shift-12 text-center">TF2 Subclass Creator</h1>

<div class="box home-desc">
  <h2>Create and Explore TF2 Subclasses</h2>
  <p class="text-secondary">Subclasses in TF2 refer to a unique set of weapons for a particular Mercenary. In addition to that, a subclass often comes with a unique playstyle that changes how you play the game.</p>
  <p class="text-secondary">Here at TF2SC we offer a compact and accessible creator together with a gallery and more to come!</p>
  <div class="buttons">
    <button mat-flat-button routerLink="/loadout-creator">
      <mat-icon>add</mat-icon>
      Create
    </button>
    <button mat-flat-button routerLink="/gallery">
      <mat-icon>search</mat-icon>
      Explore
    </button>
  </div>
</div>
  

