<h1 class="text-center orange-shift-12 hero-text">About TF2SC</h1>
<div class="box max-w-50">
    <h2>Create and share TF2 subclasses</h2>
    <p class="text-secondary">Since the dawn of the gold rush update back in 2008, people started experimenting with different weapons and experienced a shift in playstyle. With time, this phenomenon was named "subclasses", which is a Mercenary (also named class) together with special weapons and a distinct playstyle. TF2SC aims to be a quick and easy way of categorizing different subclasses, creating and sharing them.</p>
</div>
